body {
    background: rgb(28, 28, 135);
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.header {
    text-align: center;
    color:azure;
    font-size: larger;
}

.main {
    color:yellow;
}

.footer {
    text-align: center;
    font-size: x-small;
}

.special{
    text-decoration: underline;
    font-size: small;
}

#navigation {
    font-size: smaller;
}

/* Universal Selector */
* {
    margin: 5px;
    padding: 3px;
/*    border: 1px dotted white;*/
}

/* Style for links */
a {
    text-decoration: none;
    color: white
}
a:hover{
    color:violet;
}