body {
    background: rgb(28, 28, 135);
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 800px;
}

.header {
    text-align: right;
    font-size: small;
    color:sandybrown;
}

.top {
    text-align: center;
    color:azure;
    font-size: larger;
    border: groove;
    border-width: 1px;
}

.main {
    color:yellow;
    height: 300px;
}
ul {
    list-style-type: none;
}

.footer {
    text-align: center;
    font-size: x-small;
}

.special{
    text-decoration: underline;
    font-size: small;
    color:aliceblue;
}

#navigation {
    font-size: smaller;
    text-align: center;
}

/* Universal Selector */
* {
    margin: 5px;
    padding: 3px;
/*    border: 1px dotted white;*/
}

/* Style for links */
a {
    text-decoration: none;
    color: violet
}
a:hover{
    color:darkviolet;
}
